.container__content{
  width: 100%;
  min-height: 100vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.content__title > h1{
  font-size: clamp(20px, 3vw, 35px);
}

.content__cover > img{
  float: left ;
  margin-right: 10px;
  margin-top: 10px;
  width: 600px;

  @media(max-width:850px) {
      width: 100%;
      margin-bottom: 15px;
  }
}
.content__description{
  font-size: 18px;
  text-align: justify;
}

a{
  margin-left: auto;
  align-self: flex-end;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;

  @media(max-width:1200px) {
    margin-top: 1rem;
  }
}
