<div class="container__menu-bar">
  <h1 class="logo" [routerLink]="['']">DEV'S BLOG</h1>
  <ul>
    <li><a href="https://www.linkedin.com/in/alisson-gp-lima/" target="_blank">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/AlissonLimaG" target="_blank">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.instagram.com/alisson_g_lima/" target="_blank">Instagram</a></li>
  </ul>
    <app-theme-button class="theme__button"></app-theme-button>
</div>